@keyframes load {
    0%{
        opacity: 0.08;
		filter: blur(3px);
		letter-spacing: 2px;
        }
}

.animate {
    position: relative;
    top: 50px;
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
	margin: auto;
	font-family: monospace;
	animation: load 1.5s infinite 0s ease-in-out;
	animation-direction: alternate;
	text-shadow: 0 0 1px rgba(51, 51, 51, 0.137);
    color:rgba(51, 51, 51, 0.8)
}